{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<div class="hero">
    <div class="hero__row container">
        <div class="hero__content">
            <div class="hero__img">
                <img src="{% static 'images/new-back.png' %}" alt="">
            </div>
                <h1 class="hero__title">Не упусти шанс <br> <span>Путешествовать </span></h1>
            <p class="hero__desciption">У нас самые лучшие цены в рынке, и лучшие города</p>
            <a href="{% url 'search_view' %}"  class="btn margin-top25">Искать туры</a>
        </div>
    </div>
</div>
<div class="popular container">
    <div class="popular__header">
        <div>
            <div class="polular__header-title">Популярные</div>
            <div class="polular__header-text">Смотрите самые подходящшие</div>
        </div>
    </div>
    <div class="popular__body">
        
        {% for event in travelEvents %}
        <a href="{% url 'singleView' event.id %}" class="popular__item">
            <img src="{{ event.travelCity.image.url }}" class="popular__item-img"></img>
            <div class="popular__item-content">
                <div class="popular__item-title">{{event.travelCity.name}}</div>
                <div class="popular__item__country"> <span><img style="object-fit: cover; width: 20px; height: 20px; border-radius: 20px; margin-right: 8px;" src="{{ event.travelCity.country.icon.url}}" alt=""></span> {{event.travelCity.country.name}}</div>
               
                <div class="divider"></div>

                <div class="popular__item-footer">
                   <div style="display:flex; align-items:center">
                    <span class="material-icons" style="color: #02c39a; margin-right: 10px; font-size: 16px;">
                        calendar_today
                        </span>
                        <div class="popular__item-footer-title"><span>{{event.start_date|date:"M d"}} - {{event.end_date|date:"M d"}}</span>  •  2 ночей</div>
                   </div>
                   <div class="popular__item-footer-price">₸ {{ event.travelCity.price }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    //  const swiper = new Swiper('.swiper', {
    //         direction: 'horizontal',
    //         loop: true,
    //         pagination: {
    //             el: '.swiper-pagination',
    //         },
    //         navigation: {
    //             nextEl: '.swiper-button-next',
    //             prevEl: '.swiper-button-prev',
    //         },
    //         breakpoints: {
    //             // when window width is >= 320px
    //             320: {
    //                 slidesPerView: 1,
    //                 spaceBetween: 10
    //             },
    //             // when window width is >= 480px
    //             480: {
    //                 slidesPerView: 1,
    //                 spaceBetween: 10
    //             },
    //             // when window width is >= 640px
    //             640: {
    //                 slidesPerView: 3,
    //                 spaceBetween: 50
    //             }
    //         }
    //     });
</script>
{% endblock %}
