{% include 'layouts/app.html' %}
{% load static %}

{% block content %}
<div class="main-background">
    <div class="search-list">
        <div style="margin-bottom:20px">
         Заказов: {{orders|length}}
        </div>
        {% for item in orders %}
        <div class="search-list__item">
            <div class="search-list__img">
                <img src="{{item.event.travelCity.image.url}}" alt="">
            </div>
            <div class="search-list__content">
                <h2 class="search-list__title">{{item.event.travelCity.name}}</h2>
                <h2 class="search-list__pretitle">{{item.event.travelCity.city_name}}</h2>
                <p class="search-list__date"> <span class="begin_date">Begin date</span>  {{item.event.start_date|date:"d M, Y"}}</p>
                <p class="search-list__date"><span class="end_date">End date</span> {{item.event.end_date|date:"d M, Y"}}</p>
            </div>    
            <a href="{% url 'deleteOrder' item.id %}">Удалить из корзины</a>        
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% block script %}
<script>
  
</script>
{% endblock %}