{% extends 'layouts/app.html' %}
{% load static %}

{% block content %}
<div class="login-form">
    <form class="form" action="{%url 'register'%}" method="POST">
        {% csrf_token %}
        <input class="login__input" placeholder="Имя"  name="name">
        <input class="login__input margin-top25" placeholder="Фамилия"  name="surname">
        <input class="login__input margin-top25" placeholder="Почта"  name="email">
        <input class="login__input margin-top25" placeholder="Пароль"  type="password" name="password">
        <button class="btn margin-top25">Регистрация</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
   
</script>
{% endblock %}